.landingContainer {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; 
  padding: 2rem;
}

.landingHeader {
  text-align: center;
  background-color: #173656; 
  padding: 2rem 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  
 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.landingHead {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #ecf0f1; /* Light gray for contrast */
}

.landingSubhead {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #bdc3c7; /* Subtle gray for subheading */
}

.landingNav {
  background-color: #173656; /* Coordinated dark gray-blue */
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.landingNavList {
  list-style: none; /* Removes bullets */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers the nav items */
  align-items: center;
  gap: 2rem; /* Adds spacing between items */
  margin: 0;
  padding: 0;
}

.landingNavItem {
  color: #ecf0f1;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.landingNavItem:hover {
  color: #1abc9c; /* Changes color on hover */
}
